.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.calculadora-general{
    display: grid;
    background-color: brown;
    border-radius: 15px;
    grid-template-columns: repeat(1,320px);

    box-shadow: 50px 20px 20px 20px #00000033;
}
.calculadora-numeros{
    display: grid;
    padding: 10px 10px 0px 10px;
  
    grid-template-columns: repeat(3,100px);
    
   
    
}
.calculadora-operaciones{
    display: grid;
    padding: 5px 10px 5px 10px;
    grid-template-columns: repeat(2,150px);
   
    
}

.col-3{
    grid-column: span 3;
}
button{
    margin: 3px;
}
label{
   
  
    background-color: rgb(177, 98, 98);
    color: rgb(68, 40, 40);
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 100px;
}