body {
    background-color: #33bd81;
  }
  .container {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
  .form {
    height: 500px;
    width: 700px;
    background-color: #e6e6e6;
    border-radius: 8px;
    padding: 20px 30px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    box-shadow: 0 0 40px -10px #000;
  }
  h2 {
    margin: 10px 0px;
    padding-bottom: 10px;
    width: 180px;
    color: #78788c;
    border-bottom: 3px solid #78788c;
  }
  p:before {
    content: attr(type);
    display: block;
    margin: 5px 2px;
    font-size: 16px;
    color: #5a5a5a;
  }
  input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #bebed2;
    background: none;
    color: rgb(60, 60, 60);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  input:focus {
    border-bottom: 3px solid #78788c;
  }
  button {
    color: #53535f;
    background-color: #a1c3da;
    border-style: groove;
    border-radius: 5px;
    padding: 3px 5px;
  }
  .boton {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button:hover {
    background-color: #686868;
    color: white;
    box-shadow: 0px 0px 1px 2px #59abe3;
  }
  h1 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin: 15px;
    color: #474752;
  }
  