<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <header></header>
    <nav></nav>
    <section>
        <h6>{{1+1}}</h6>
      <div id="myApp">
        <h1>Hola mundo</h1>
        <p>Desdee App.js</p>
        
        <p>{{[1,2,3,4,5,6,7,8]}}</p>
        <p>{{false?'Verdadero':'Falso'}}</p>
        <p>{{mensaje}}</p>
        <p>{{valor}}</p>
        <button v-on:click="cambiarMensaje">Cambiar Mensaje</button>
        <button v-on:click="cambiarNumero">Sumar</button>
        <hr>
        <p>{{lista}}</p>
        <label for="idNombre">Nombre</label>
        <input @keypress.enter="presionandoTecla" type="text"  id="idNombre" v-model="nombre">
        <label for="idApellido">Apellido</label>
        <input @keypress.enter="agregarEstudianteMod" type="text"  id="idApellido" v-model="apellido">
        <button @click="agregarEstudiante">Agregar</button>
        {{nombre}}
        {{apellido}}
        <ul>
          <li  v-for="({nombre,apellido},index) in lista">
            <p v-if="nombre!==''"> {{index+1}}:{{nombre}} - {{apellido}}</p>
           
             <button v-if="nombre!==''" >Editar</button></li>
          
        </ul>
      </div>
    </section>
    <footer></footer>
    <script src="../js/app.js"></script>
  </body>
</html>
